<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IPUrl" value="http://www.xicidaili.com/nn"/>
    <add key="DefaultProxyIp" value=""/>
    <add key="IsPingIp" value="false"/>
    <!--数据库连接信息-->
    <add key="SqlConnect" value="Data Source=127.0.0.1;Initial Catalog=ProxyIP;User ID=sa;Password=s@123"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>